.header{
    position: absolute;
    padding: 0px 10px;
    border-radius: 40px;
    width:fit-content;
    color:var(--primary);
    border: 4px solid transparent; 
    box-shadow: 0 0 10px 5px var(--primary); 
    backdrop-filter: blur(10px); 
    top:2%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1000;
}
